version: "3.9"

services:
  nginx:
    image: nginx:1.25-alpine
    depends_on:
      - php
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app/web:/var/www/html
    networks:
      - app

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
    environment:
      YII_ENV: prod
      DB_DSN: "pgsql:host=db;port=5432;dbname=loans"
      DB_USER: "user"
      DB_PASSWORD: "password"
    networks:
      - app

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: loans
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app

volumes:
  pgdata:

networks:
  app:
